.grid-container {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 16px;
}

@media screen and (min-width: 650px) {
  .grid-container {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (min-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 300px);
  }
}

@media screen and (min-width: 1350px) {
  .grid-container {
    grid-template-columns: repeat(4, 300px);
  }
}
